
<div id="login">
   <div class="container">
       <div id="login-row" class="row justify-content-center align-items-center">
           <div id="login-column" class="col-md-6">
               <div id="login-box" class="col-md-12">
                   <form id="login-form" class="form" action="" method="post">
                       <h3 class="text-center text-info"><b>Operator Login</b></h3>
                       <div class="form-group">
                           <label for="username" class="text-info">Username:</label><br>
                           <input type="text" name="userName" [(ngModel)]="userName" id="userName" placeholder="Input User Name" class="form-control">
                       </div><br>
                       <div class="form-group">
                           <label for="password" class="text-info">Password:</label><br>
                           <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Input Password" class="form-control">
                       </div><br>
                       <div class="form-group">
                           <!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                           <button  type="button" data-mdb-button-init data-mdb-ripple-init id="btn" class="btn btn-outline-success btn-lg" (click)="onLogin()">Login</button>
                       </div>
                      
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>



<app-footer></app-footer>